POSTGRES_NAME_DATABASE=secureauth_postgres
POSTGRES_PORT=5432
POSTGRES_DB=secure_auth
POSTGRES_USER=secureauth_admin
POSTGRES_PASSWORD=secureauth_password_admin

PGADMIN_DEFAULT_PASSWORD=change_me_pgadmin
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_PORT=8083

REDIS_HOST=redis
REDIS_PORT=6379

JWT_SECRET_KEY=change_me_base64_256bit
JWT_EXPIRATION=36000000

SPRING_PROFILES_ACTIVE=dev
